<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Tests default</Title>
      <Shortcut>cs_tests_default</Shortcut>
      <Description>Paste code</Description>
      <Author>Damian Viktorovich Morozov</Author>
      <SnippetTypes>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp">
        <![CDATA[namespace $NamespaceTests$
{
    [TestFixture]
    internal class $ProgramTests$
    {
        /// <summary>
        /// Setup private fields.
        /// </summary>
        [SetUp]
        public void Setup()
        {
            Utils.MethodStart();
            // 
            Utils.MethodComplete();
        }

        /// <summary>
        /// Reset private fields to default state.
        /// </summary>
        [TearDown]
        public void Teardown()
        {
            Utils.MethodStart();
            // 
            Utils.MethodComplete();
        }

        [Test]
        public void Foo_AreEqual()
        {
            Utils.MethodStart();

            int actual = default;
            // 
            int expected = default;
            TestContext.WriteLine($$"actual/expected: {actual}");
            Assert.AreEqual(expected, actual);

            Utils.MethodComplete();
        }
    }
}$end$]]>
      </Code>
      <Declarations>
        <Literal>
          <ID>NamespaceTests</ID>
          <ToolTip>Namespace for tests</ToolTip>
          <Default>Namespace.Tests</Default>
        </Literal>
        <Literal>
          <ID>ProgramTests</ID>
          <ToolTip>Class name for tests</ToolTip>
          <Default>ProgramTests</Default>
        </Literal>
      </Declarations>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
        <Import>
          <Namespace>System.Diagnostics</Namespace>
        </Import>
      </Imports>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>