<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Tests default</Title>
      <Shortcut>cs_tests_default</Shortcut>
      <Description>Paste code</Description>
      <Author>Damian Viktorovich Morozov</Author>
      <SnippetTypes>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="csharp">
        <![CDATA[namespace $NamespaceTests$
{
	[TestFixture]
	public class ProgramTests
	{
		/// <summary>
		/// Setup private fields.
		/// </summary>
		[SetUp]
		public void Setup()
		{
			TestContext.WriteLine(@"--------------------------------------------------------------------------------");
			TestContext.WriteLine($$@"{nameof(Setup)} start.");
			// 
			TestContext.WriteLine($$@"{nameof(Setup)} complete.");
		}

		/// <summary>
		/// Reset private fields to default state.
		/// </summary>
		[TearDown]
		public void Teardown()
		{
			TestContext.WriteLine(@"--------------------------------------------------------------------------------");
			TestContext.WriteLine($$@"{nameof(Teardown)} start.");
			// 
			TestContext.WriteLine($$@"{nameof(Teardown)} complete.");
			TestContext.WriteLine(@"--------------------------------------------------------------------------------");
		}

		[Test]
		public void Foo_AreEqual()
		{
			TestContext.WriteLine(@"--------------------------------------------------------------------------------");
			TestContext.WriteLine($$@"{nameof(Foo_AreEqual)} start.");
			var sw = Stopwatch.StartNew();
			
			int actual = default;
			// 
			int expected = default;
			TestContext.WriteLine($$"actual/expected: {actual}");
			Assert.AreEqual(expected, actual);
			
			sw.Stop();
			TestContext.WriteLine($$@"{nameof(Foo_AreEqual)} complete. Elapsed time: {sw.Elapsed}");
		}
	}
}$end$]]>
      </Code>
      <Declarations>
        <Literal>
          <ID>NamespaceTests</ID>
          <ToolTip>Namespace.Tests name</ToolTip>
          <Default>Namespace.Tests</Default>
        </Literal>
      </Declarations>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
        <Import>
          <Namespace>System.Diagnostics</Namespace>
        </Import>
      </Imports>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>